* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn-1 {
  margin-top: 15px;
  width: 400px;
  padding: 10px;
  border-style:solid;
  border-radius: 30px;
  border-color: red;
  background-color: red;
  color: white;
  font-weight: 600;
}

.btn-1:hover {
  background-color: #C40001;
  border-color: #C40001;
  color: white;
}

.btn-2 {
  margin-top: 15px;
  width: 400px;
  padding: 10px;
  border-style:solid;
  border-radius: 30px;
  border-color: white;
  background-color: #0C1F47;
  color: white;
  font-weight: 600;
}

.btn-2:hover {
  background-color: #08142E;
  color: white;
}

